body {
    font-family: Arial, sans-serif;
    padding-top: 60px;
}

h1,
h2,
h5 {
    color: #333;
}

p,
a {
    color: #666;
}

a:hover {
    color: #333;
}

#skills .col-md-3 h5 {
    color: #007bff;
}

.job h5 {
    font-weight: bold;
    color: #333;
}

footer {
    background-color: #343a40;
    color: #fff;
}
}